/**
 * @file base-layouts/_desktop.scss
 *   Desktop layout styles for Dennis Base using the responsive layout
 *
 * This file holds all layout specific styles for the "desktop" viewport.
 *
 * Please note that only layout specific styles and element styles specific to
 * this viewport should go here. Any generic styling of various page elements
 * should go to _styles.scss instead.
 *
 * @see _responsive.scss
 */

// Grid setup
// =============================================================================
$grid-size-sidebar-first:        5 !default;
$grid-size-sidebar-second:       8 !default;

$grid-sidebar-order:             102 !default;
$grid-position-content:          null;
$grid-position-sidebar-first:    null;
$grid-position-sidebar-second:   null;

body {

  &.narrow-grid.two-sidebars,
  &.narrow-stacked.two-sidebars {
    // Get grid sidebar positions
    @if $grid-sidebar-order == 012 {
      $grid-position-content: 1;
      $grid-position-sidebar-first: $zen-column-count - $grid-size-sidebar-first - $grid-size-sidebar-second + 1;
      $grid-position-sidebar-second: $zen-column-count - $grid-size-sidebar-second + 1;
    }
    @else if $grid-sidebar-order == 021 {
      $grid-position-content: 1;
      $grid-position-sidebar-first: $zen-column-count - $grid-size-sidebar-first + 1;
      $grid-position-sidebar-second: $zen-column-count - $grid-size-sidebar-first - $grid-size-sidebar-second + 1;
    }
    @else if $grid-sidebar-order == 102 {
      $grid-position-content: $grid-size-sidebar-first + 1;
      $grid-position-sidebar-first: 1;
      $grid-position-sidebar-second: $zen-column-count - $grid-size-sidebar-second + 1;
    }
    @else if $grid-sidebar-order == 120 {
      $grid-position-content: $grid-size-sidebar-first + $grid-size-sidebar-second + 1;
      $grid-position-sidebar-first: 1;
      $grid-position-sidebar-second: $grid-size-sidebar-first + 1;
    }
    @else if $grid-sidebar-order == 201 {
      $grid-position-content: $grid-size-sidebar-second + 1;
      $grid-position-sidebar-first: $zen-column-count - $grid-size-sidebar-first + 1;
      $grid-position-sidebar-second: 1;
    }
    @else if $grid-sidebar-order == 210 {
      $grid-position-content: $grid-size-sidebar-first + $grid-size-sidebar-second + 1;
      $grid-position-sidebar-first: $grid-size-sidebar-second + 1;
      $grid-position-sidebar-second: 1;
    }

    #group-content {
      @include zen-grid-item($zen-column-count - $grid-size-sidebar-first - $grid-size-sidebar-second, $grid-position-content);
    }
    #sidebar-first {
      @include zen-grid-item($grid-size-sidebar-first, $grid-position-sidebar-first);
    }
    #sidebar-second-alt,
    #sidebar-second {
      clear: none;
      @include zen-grid-item($grid-size-sidebar-second, $grid-position-sidebar-second);
    }

  }
  
  &.sidebar-alt .sidebar-first-alt {
    @include zen-grid-item($grid-size-sidebar-first, 1);
  }

  // Setting for sidebar-first-alt
  &.sidebar-alt #page-title,
  &.sidebar-alt #content-tabs,
  &.sidebar-alt #content-messages,
  &.sidebar-alt #help,
  &.sidebar-alt .action-links,
  &.sidebar-alt #preface-bottom {
    clear: both;
  }
  
  &.sidebar-alt .wrapper-alt {
    @include zen-grid-item($zen-column-count - $grid-size-sidebar-first, $grid-size-sidebar-first + 1);
  }

  &.narrow-grid.one-sidebar.sidebar-second,
  &.narrow-stacked.one-sidebar.sidebar-second {
    // Get grid sidebar positions
    @if $grid-sidebar-order == 012 or $grid-sidebar-order == 021 or $grid-sidebar-order == 102 {
      $grid-position-content: 1;
      $grid-position-sidebar-second: $zen-column-count - $grid-size-sidebar-second + 1;
    }
    @else if $grid-sidebar-order == 120 or $grid-sidebar-order == 201 or $grid-sidebar-order == 210 {
      $grid-position-content: $grid-size-sidebar-second + 1;
      $grid-position-sidebar-second: 1;
    }

    #group-content {
      @include zen-grid-item($zen-column-count - $grid-size-sidebar-second, $grid-position-content);
    }
    #sidebar-second-alt,
    #sidebar-second {
      clear: none;
      @include zen-grid-item($grid-size-sidebar-second, $grid-position-sidebar-second);
    }
  }

  &.sidebar-alt.narrow-grid.one-sidebar.sidebar-second,
  &.sidebar-alt.narrow-stacked.one-sidebar.sidebar-second {
    // Get grid sidebar positions
    $zen-column-count-new: $zen-column-count;
    $zen-column-count: $zen-column-count-new - $grid-size-sidebar-first;
    @if $grid-sidebar-order == 012 or $grid-sidebar-order == 021 or $grid-sidebar-order == 102 {
      $grid-position-content: 1;
      $grid-position-sidebar-second: $zen-column-count - $grid-size-sidebar-second + 1;
    }
    @else if $grid-sidebar-order == 120 or $grid-sidebar-order == 201 or $grid-sidebar-order == 210 {
      $grid-position-content: $grid-size-sidebar-second + 1;
      $grid-position-sidebar-second: 1;
    }

    #group-content {
      @include zen-grid-item($zen-column-count - $grid-size-sidebar-second, $grid-position-content);
    }
    #sidebar-second-alt,
    #sidebar-second {
      clear: none;
      @include zen-grid-item($grid-size-sidebar-second, $grid-position-sidebar-second);
    }
     $zen-column-count: $zen-column-count-new;



  }

  &.one-sidebar.sidebar-first {
    // Get grid sidebar positions
    @if $grid-sidebar-order == 012 or $grid-sidebar-order == 021 or $grid-sidebar-order == 201 {
      $grid-position-content: 1;
      $grid-position-sidebar-first: $zen-column-count - $grid-size-sidebar-first + 1;
    }
    @else if $grid-sidebar-order == 102 or $grid-sidebar-order == 120 or $grid-sidebar-order == 210 {
      $grid-position-content: $grid-size-sidebar-first + 1;
      $grid-position-sidebar-first: 1;
    }

    #group-content {
      @include zen-grid-item($zen-column-count - $grid-size-sidebar-first, $grid-position-content);
    }
    #sidebar-first {
      @include zen-grid-item($grid-size-sidebar-first, $grid-position-sidebar-first);
    }
  }

  &.no-sidebars {
    #group-content {
      @include zen-grid-item($zen-column-count, 1);
    }
  }
}

// Setting back the block width from narrow.
body.narrow-stacked {
  #sidebar-second,
  #sidebar-second-alt {
    .block {
      width: 100%;
    }
  }
}


// Page element
// -----------------------------------------------------------------------------
.page {
  max-width: $site-max-width-desktop;
  width: $site-width-desktop;
}


// Main element
// -----------------------------------------------------------------------------
#main {
  max-width: none;
}


// Region and Block container setup
// -----------------------------------------------------------------------------


// Header region
// -----------------------------------------------------------------------------
.region-header {
  float: right;
  width: auto;
}


// Postscript & Footer regions
// -----------------------------------------------------------------------------
// Note: styles here override narrow viewport styles.


// DFP ad blocks
// -----------------------------------------------------------------------------
// Base styling of DFP slots which should appear in the desktop viewport only.

// Billboard and skin need special styling.
#block-dfp-billboard {
  display: block;
  float: none;
  position: relative;
  width: auto;
  @include clearfix;
}

#block-dfp-skin {
  display: block;
  position: absolute;
  width: 100%;
  @include block-no-gutter;
  .dfp-tag-wrapper {
    @include block-no-gutter;
  }
  iframe {
    width: 100% !important;
  }
}
